extends ./shared/layout

block append styleSheets

block main-content

    section.hero.content-wrapper

        form(action="/", method="get", id="search-container")
            .search-container 
                label(for="search")
                input(type="text", name="searchInput", id="search", placeholder="Enter Your Word Here")
                input(type="submit", value="Search") 



    section.result-container.content-wrapper

        .container
            h2 Words that 
                span.highlight
                    | sound 
                | like #{userInput}

            .similar-sound-container.words-container

                
            
                    each word, index in similarSoundWords
                        .word-container(class=(index >= 10 ? 'hidden' : ''))
                            h2 
                                a(href="/details?word=" + word.word) #{word.word}
                            h6 Accuracy #{word.score}
                        

                    // See more button for similar sound words
                    button#see-more-sound-button(type="button") See more
                
        .container
            h2 Words that 
                span.highlight
                    | spelled 
                | like #{userInput}

            .similar-sound-container.words-container

                
            
                    each word, index in similarSpelledWords
                        .word-container(class=(index >= 10 ? 'hidden' : ''))
                            h2 
                                a(href="/details?word=" + word.word) #{word.word}
                            h6 Accuracy #{word.score}
                        

                    // See more button for similar sound words
                    button#see-more-sound-button(type="button") See more    

        .container
            h2 Adjectives which are 
                span.highlight
                    | related 
                | with #{userInput}

            .similar-sound-container.words-container

        
                    each word, index in relatedAdjectives
                        .word-container(class=(index >= 10 ? 'hidden' : ''))
                            h2 
                                a(href="/details?word=" + word.word) #{word.word}

                            h6 Accuracy #{word.score}
                        

                    // See more button for similar sound words
                    button#see-more-sound-button(type="button") See more 
