extends ./shared/layout

block append styleSheets

block main-content

    section.hero.content-wrapper

        form(action="/", method="get", id="search-container")
            .search-container 
                label(for="search")
                input(type="text", name="searchInput", id="search", placeholder="Enter Your Word Here")
                input(type="submit", value="Search") 

    section.result-container.content-wrapper

    

        .container
            if userInput
                h2 Words that 
                        span.highlight
                            | sound 
                        |  like #{userInput}
            else
                h2 Get Words that 
                            span.highlight
                                | sound 
                            |  like 



            .similar-sound-container.words-container

                
                    each word, index in similarSoundWords
                        .word-container(class=(index >= 10 ? 'hidden' : ''))
                            h2 
                                a(href="/details?word=" + word.word + "&prevWord=" + userInput) #{word.word}
                            h6 Accuracy #{word.score}
                        

                    // See more button for similar sound words
                    if userInput
                        button#see-more-sound-button(type="button") See more
                
        //- .container
        //-     if userInput
        //-         h2 Words that 
        //-                 span.highlight
        //-                     | spelled 
        //-                 |  like #{userInput}
        //-     else
        //-         h2 Get Words that 
        //-                     span.highlight
        //-                         | spelled 
        //-                     |  like 

        //-     .similar-spelling-container.words-container

                
            
        //-             each word, index in similarSpelledWords
        //-                 .word-container(class=(index >= 10 ? 'hidden' : ''))
        //-                     h2 
        //-                         a(href="/details?word=" + word.word + "&prevWord=" + userInput) #{word.word}
        //-                     h6 Accuracy #{word.score}
                        

        //-             // See more button for similar spelled words
        //-             if userInput
        //-                 button#see-more-spelling-button(type="button") See more    


        .container
            if userInput
                h2 Words that can be used as
                        span.highlight
                            |  noun 
                        |  with #{userInput}
            else
                h2 Get Words that can be used as
                            span.highlight
                                |  noun 
                            |   

            .container.noun-container.words-container
                each word, index in nouns
                    .word-container(class=(index >= 10 ? 'hidden' : ''))
                        h2 
                            a(href="/details?word=" + word.word + "&prevWord=" + userInput) #{word.word}

                            h6 Accuracy #{word.score}

        .container

            if userInput
                h2 Related  
                        span.highlight
                            | Adjectives
                        |  for #{userInput}
            else
                h2 Get related which are 
                            span.highlight
                                | Adjectives
                                 


            .similar-adjective-container.words-container

        
                    each word, index in relatedAdjectives
                        .word-container(class=(index >= 10 ? 'hidden' : ''))
                            h2 
                                a(href="/details?word=" + word.word + "&prevWord=" + userInput) #{word.word}

                            h6 Accuracy #{word.score}
                        

                    // See more button for related adjectives
                    if userInput
                        button#see-more-adjective-button(type="button") See more 
